<%- include('partials/header.ejs')%>

<div class="container mt-5">
  <a href="/register" class="btn btn-lg btn-primary">Register</a>
  <a href="/login" class="btn btn-lg btn-info">Login</a>
</div>

<%- include ('partials/footer.ejs') %>
