<%-include('header')-%>

<div class="etxt-center center-dov" id="login">
  <div class="container w-25 border py-5">
    <div class="title">
      <h2 class="font-weight-bold">Login System</h2>
      <span>Login in for the existing user.</span>
    </div>
    <form action="#">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="email" name="email"/>  
        </div>
    </form>
  </div>
</div>
> <%-include('footer')-%>
